/*-- CSS Reset --*/
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*-- Start main styling --*/

body {
    background: #f7f7f7;
    color: #333333;
    font-family: baskerville-urw, serif;
}

section, header, footer {
    width: 80%;
    max-width: 700px;
    margin: auto;
}

section, header {
    margin-bottom: 4rem;
}

p, blockquote {
    padding: .5rem 0;
    line-height: 1.3;
}

h1, h2 {
    color:rgb(109, 184, 144);
}

h1 {
    font-size: 5.653rem;
    margin-top:5rem;
    padding-bottom: 0;
}

h2 {
    font-size: 1.999rem;
    margin: 1rem 0 3rem 0;
}

blockquote {
    font-style: italic;
    font-size: 1.999rem;
    color:rgb(109, 184, 144);
    hanging-punctuation: first;
    text-indent: -0.7rem;
}

blockquote cite {
    font-style: normal;
    font-size: 1.5rem;
    color: #333333;
}

/*-- Styling Links --*/

a {
    color:rgb(109, 184, 144);
    text-decoration: none;
}

a:hover {
    color: black;
    border-bottom: 1px dotted;
}

/*-- Navigation --*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color:rgb(109, 184, 144);
    padding: 1.5rem 0;
    font-size: 0.75rem;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 20px;
    background: none;
}

nav a {color: whitesmoke}

nav a:hover {
    border-bottom: none;
    color:rgb(109, 184, 144);
    transition: all 0.5s ease-in-out;
}

/*-- Styling Footer --*/

footer {
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 4rem;
}